<header>
    <div class="bs-example main">
        <nav class="navbar navbar-expand-md navbar-dark">
            <a href="#" class="navbar-brand">
                <img src="/assets/images/logob.png" class="circular--square" height="80px" width="80px" alt="Logo">
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" (click)="isShown=!isShown" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon collap"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarCollapse" [ngClass]="{ 'show': isShown }">
                <div class="navbar-nav">
                    <ul class="nav navbar-nav">
                        <li><a href="#" class="nav-item nav-link active hov">Home</a></li>
                        <li><a href="#" class="nav-item nav-link hov">Recipes</a></li>
                        <li><a href="#" class="nav-item nav-link hov">About Us</a></li>
                        <li> <a href="#" class="nav-item nav-link hov">Login</a></li>
                        <li><a href="#" class="nav-item nav-link hov">Register</a></li>  
                        <li><a href="#" class="nav-item nav-link hov">Logout</a></li>                
                    </ul> 
                </div>
            </div>
        </nav>
    </div>
</header>